@media (max-width: 1024px) {
  .dashboard-side-menu {
    display: none !important;

  }
  .dashboard {
    width: 100% !important;
  }
}
@media (max-width: 770px) {
  .left-menu-logo-container {
    padding: 2rem 0 2rem 4rem;
    display: flex;
    align-items: center;
    .sidemenu-drawer-closer {
      width: 2.0625rem;
      height: 2.0625rem;
      border-radius: 50%;
      color: #c8d3d6;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: 700;
      padding: 4px;
      border: 1px solid;
      margin-left: auto;
      margin-right: 2rem;
    }
  }
  .menu-container {
    padding: 3rem 5rem;
    .menu-label {
      font-size: 1rem;
    }
    .menu-list > li > a {
      font-size: 18px;
      padding: 0.5rem 0;
      img {
        margin: 1rem 1.5rem 1rem 0;
      }
    }
  }
}
