body, html {
  font-size: 14px !important;
  font-family: 'Product Sans' !important;
}
.App-Select {
  width: 200px;
  .css-yk16xz-control {
    .css-1hb7zxy-IndicatorsContainer {
      .css-1okebmr-indicatorSeparator {
        display: none;
      }
    }
  }
  .css-yk16xz-control, .css-1pahdxg-control {
    width: 10rem;
    height: 3rem;
    border-radius: 34px;
    box-shadow: 0 3px 20px 0 rgba(137, 137, 137, 0.24);
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    cursor: pointer;
  }
}

.css-26l3qy-menu {
  width: 10rem!important;
}
.css-26l3qy-menu>* {
  cursor: pointer!important;
}
.button {
  border-radius: 10px!important;
}
.btn-customed {
  background-color: rgb(229, 243, 252)!important;
  border: 0px!important;
  border-radius: 34px !important;
  &:hover {
    color: #0089e1!important;
  }
}
.column-image-container {
  // padding-top: 2rem!important;
}
