$primary: #0089e1;
$success: #00bd39;
$danger: #eb5923;
$warning: #ff9b21;
$facebook: #016aad;
$twitter: #15dbff;
$white: #ffffff;
$secondary: #4c4c4c;
$secondary-light: #94a4be;
$light-secondary: #657288;
$secondary-nav-border: rgb(229, 229, 229);
$border-secondary: #c8d3d6;
$tooltip-background-color: $white;
$tooltip-color: $light-secondary;
$tooltip-radius: 4px;
$twitter: #15dbff;
$facebook: #016aad;
